.appointment-header{
  font-size: 38px;
  color: black;
  text-align: center;
  margin: 10px auto;
}


.patient-info {
  width: 45%;
  margin: 40px 20px 0px !important;
}
.patient-message {
  width: 90%;
  margin: 40px 0px 0px 0px !important;
  height: 100px !important;
  border: 2px solid rgb(132, 226, 140);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  padding: 10px 0px;
  resize: none;
}
.patient-message:invalid {
  border: 2px dashed rgb(231, 67, 67);
}

.Appointment-contact-icon {
  font-size: 35px;
  color: rgb(224, 221, 221);
  background-color: #4abcd7;
  margin-bottom: -15px; 
  padding: 5px;
  border-radius: 2px;
}

@media only screen and (max-width: 1200px) {
  .patient-info {
    width: 45% !important;
    margin: 40px 20px 0px !important;
  }
}
@media only screen and (max-width: 900px) {
  .patient-info {
    width: 90% !important;
  }
  .patient-message {
    width: 90% !important;
  }
  .appointment-header{
    font-size: 25px; 
    font-weight: 800;
  }
}
@media only screen and (max-width: 425px) {
  .patient-message {
    width: 85% !important;
  }
  .patient-info {
    width: 90% !important;
  }
  .Appointment-contact-icon {
    font-size: 25px;
  }
  .appointment-header{
    font-size: 25px; 
    font-weight: 800;
  }
}
